@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .appearance-textfield {
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .folder {
    &::before {
      content: '';
      @apply absolute -top-5 left-0 block h-7 w-20 bg-gray-300 rounded-t-lg;
    }

    &::after {
      content: '';
      @apply absolute -top-5 left-14 w-7 h-8 bg-gray-300 rounded-t-lg skew-x-[20deg];
    }

    > :last-child {
      @apply transition-transform origin-bottom;
      transform: perspective(800px) rotateX(0);
    }

    &:hover {
      > :last-child {
        transform: perspective(800px) rotateX(-45deg);
      }
    }
  }

  .input-group {
    > *:not(:first-child) {
      input, select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    > *:not(:last-child) {
      input, select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply cursor-pointer bg-sky-500 rounded-full h-3 w-3 appearance-none;
  }
  
  input[type='range']::-moz-range-thumb {
    @apply cursor-pointer bg-sky-500 rounded-full h-3 w-3 appearance-none;
  }
}
